{% extends 'frontend/base.html' %}
{% block body %}
<div class="grid-x cell align-center large-8">
    <main>
	<input id="room-name-input" type="text" size="100" placeholder="What chat room would you like to enter?"/><br/>
	<input id="room-name-submit" type="button" class="button" value="Enter" />
    </main>
</div>
<script>
 document.querySelector('#room-name-input').focus();
 document.querySelector('#room-name-input').onkeyup = function(e) {
     if (e.keyCode === 13) {  // enter, return
         document.querySelector('#room-name-submit').click();
     }
 };

 document.querySelector('#room-name-submit').onclick = function(e) {
     var roomName = document.querySelector('#room-name-input').value;
     roomName = roomName.replace(/ /g, '_');
     window.location.pathname = roomName + '/';
 };
</script>

{% endblock %}    
